@import "../../assets/color";

.home{
    height: 100px;
    width: 100%;
    &__right{
        min-height: calc(100vh - 3rem);
        width: 100%;
        background-color: $bg2;
        &>div{
            max-width: 600px;
            margin: auto;
            .apps{
                &__item{
                    height: 150px;
                    min-width: 150px;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;

                    &>div{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: 0.4s;
                    }
                    small{
                        position: absolute;
                        left: 0;
                        bottom: -100%;
                        transition: 0.4s;
                    }
                    &:hover{
                        &>div{
                            top: -100%;
                        }
                        small{
                            bottom: 30%;
                        }
                    }
                    @media(max-width: 720px){
                        &>div{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.4s;
                        }
                        small{
                            display: none;
                        }
                        &:hover{
                            &>div{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.4s;
                            }
                            small{
                                bottom: 30%;
                            }
                        }
                    }
                }
            }
            @media(max-width: 440px){
                .apps{
                    &__item{
                        width: 100px;
    
                    }
                }
            }
        }
       
       
        // @media(max-width: 720px){
        //     &>div{
        //         width: 250px;
        //     }
        // }
    }
    @media(max-width: 550px){
        &__left{
            display: none;
        }
    }
}