@import "../assets/color";
.SearchBar{
    position: relative;
    .nav-links{
        position: absolute;
        background-color: white;
        width: 100%;
        z-index: 1;
        font-size: 13px;
        margin-top: 2px;
        border: 1px solid lightgray;
        p{
            padding: 5px 15px;
            color: gray;
            font-size: 12px;
        }
        .link{
            padding: 7px 15px;
            &:hover{
                background-color: $bg2;
            }
        }
    }
}
