@import "../../assets/color";

.CompanySetting {
    min-height: 100vh;
    background-color: $bg1;

    &__content {
        width: 65%;
        margin: auto;
        background-color: white;
        font-size: 13px;
        margin-bottom: 60px;
        h6{
            font-weight: 600;
            font-size: 17px;
        }

        &__1{
            padding: 5px 0;
            z-index: -1;
            .chooseImg{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .row:first-child{
                    @media(max-width:480px){
                        .col-4{
                            display: none;
                        }
                        .col-8{
                            flex-basis: 100%;
                        }
                    }
                }
                .form__input{
                    width: 100%;
                    border: 1px solid gray;
                    border-style: dashed;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 5px;
                    overflow: hidden;
                    position: relative;
                    align-items: center;
                    text-align: center;
                    input{
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        opacity: 0;
                    }
                    .icon{
                        font-size: 50px;
                        color: gray;
                    }
                    label{
                        line-height: 30px;
                        padding-top: 10px;
                    }
                }
            }
            .inputForm{
                align-items: center;
                // height: 50px;
                margin-top: 10px;
                opacity: 0.9;
                .lcol{
                    display: flex;
                    justify-content: end;
                }
                .rcol{
                    // padding-left :23px;
                    align-items: center;
                    input, select{
                        border: 0;
                        width: 100%;
                        outline: 0;
                        border-bottom: 1px solid lightgray;
                        padding:10px  0px;
                        &:focus{
                            border-bottom: 1px solid $apps;
                        }
                    }
                    .link.active{
                        background-color: $apps;
                        color: white;
                        border: 1px solid $apps;
                    }
                    .radiobtn{
                        position: relative;
                        width: 50px;
                        padding:0 !important;
                        text-align: center;
                        input[type=radio]{
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            opacity: 0;
                        }
                        span{
                            height: 100%;
                            width: 100%;
                            padding: 10px 15px;
                        }
                        input[type=radio]:checked + span{
                            background-color: $apps;
                            color: white;
                        }
                        
                    }
                }
            }
        }


    }

}